body {
    background-color: grey;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.form-control {
    background-color: grey;
    color: white;
}

.input-group-text, .input-group-text:focus {
    background-color: grey;
    color: white;
}

.cursor {
    cursor: pointer;
}
